.input-field.col.s12
  = f.label :middle_name
  = f.text_field :middle_name, required: true
.input-field.col.s12
  = f.label :rank
  = f.text_field :rank, required: true
.input-field.col.s12
  = f.label :degree
  = f.text_field :degree, required: true