%h4.upper.center Редактирование
.row
  .col.s12.m6.l4.offset-m3.offset-l4
    .card-panel
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        .row
          = my_devise_error_messages!
          .input-field.col.s12
            = f.label :first_name
            = f.text_field :first_name, class: 'validate'
          .input-field.col.s12
            = f.label :last_name
            = f.text_field :last_name, class: 'validate'
          .input-field.col.s12
            = f.label :institution
            = f.text_field :institution, class: 'validate'

          = fields_for @user.meta do |rf|
            = render partial: "#{@user.meta_type.underscore}_fields", locals: { f: rf }

          .input-field.col.s12
            = f.label :email
            = f.email_field :email, class: 'validator'
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              Currently waiting confirmation for: #{resource.unconfirmed_email}
          .input-field.col.s12
            = f.label :password
            = f.password_field :password, autocomplete: "off"
            %i (оставьте пустым, если не желаете изменить)
          .input-field.col.s12
            = f.label :password_confirmation
            = f.password_field :password_confirmation, autocomplete: "off"
          .input-field.col.s12
            = f.label :current_password
            = f.password_field :current_password, autocomplete: "off"
            %i (введите текущий пароль для выполнения изменений)
          .input-field.col.s12.center
            = f.submit "Редактировать", class: 'btn'

.row.center
  %p
    Не рады? #{button_to "Самоуничтожиться", registration_path(resource_name), data: { confirm: "Вы серьезно?" }, method: :delete}
  = link_to "Назад", :back
  %br/
  = link_to "Главная", :root
